/* Global CSS */

* {
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

button {
  cursor: pointer;
}

body {
  margin: 0px;
}

/* Empty -> Loading and Error pages */

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 80px);
}

/* Navigation */

nav {
  z-index: 101;
  height: 50px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
}

.logo {
  border-radius: 100%;
  border: 2px solid black;
  background-color: white;
  margin-left: 10px;
  padding: 2.4px;
}

.nav-image-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-title {
  font-weight: bold;
  margin-left: 10px;
  font-size: 24px;
  margin-right: 10px;
  display: block;
}

.nav-links {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.nav-links * {
  margin-right: 10px;
  font-weight: 550;
  font-size: 14px;
  cursor: pointer;
}

.nav-sub-button div {
  margin: 0px;
}

.nav-sub-links {
  margin: 15px;
}

.nav-sub-links * {
  color: grey;
}

.nav-sub-links *:hover {
  color: rgb(64, 64, 64);
}

.nav-sub-links.active * {
  color: black !important;
}

.nav-gap {
  padding-top: 70px;
}

.nav-small {
  display: none;
}

.nav-mobile-view {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav-small {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
  }

  .nav-small svg {
    cursor: pointer;
  }

  .nav-mobile-view {
    display: block;
  }

  .nav-mobile-view .block {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50px;
    height: 100vh;
    right: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .nav-mobile-view .block .items {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .nav-mobile-view .block .items a {
    margin-bottom: 42px;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }

  .nav-mobile-view .block .items a:hover {
    font-weight: bolder;
  }

  .nav-mobile-view .block .footer {
    padding-bottom: 100px;
  }

  .nav-links {
    display: none;
  }
}

.preventScroll {
  overflow: hidden;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: calc(100vh - 90px);
  background-color: black;
}

footer a {
  color: white;
  text-decoration: none;
}

footer .small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  flex: 1;
}

footer .large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  flex: 2;
}

.footer-img {
  background-color: white;
  border-radius: 60px;
  padding: 20px;
}

footer .title {
  margin-top: 35px;
  font-weight: bold;
  font-size: 35px;
}

footer .description {
  font-size: 18px;
  margin-top: 20px;
}

footer .copyright {
  font-size: 13.5px;
  margin-top: 10px;
}

footer .section-title {
  font-weight: bold;
  font-size: 25.3px;
}

footer .links {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  align-items: center;
  justify-content: center;
}

footer .links * {
  margin-bottom: 23px;
}

footer form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-email {
  margin-top: 64px;
  background-color: #cbcbcd;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  color: black;
  border: none;
  margin-bottom: 10px;
  width: 90%;
}

.footer-message {
  background-color: #cbcbcd;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  color: black;
  border: none;
  margin-bottom: 10px;
  width: 90%;
  resize: none;
  min-height: 64px;
}

.footer-message:focus,
.footer-email:focus {
  outline: none;
}

.footer-message::-webkit-scrollbar {
  display: none;
}

footer .error {
  width: 90%;
  color: white;
  font-weight: bold;
}

footer button {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 90%;
  border-radius: 20px;
  color: black;
  font-weight: bold;
  background-color: aqua;
  margin-top: 10px;
  cursor: pointer;
  border: none;
}

footer button:hover,
footer button:disabled {
  background-color: rgb(23, 216, 216);
}

@media screen and (max-width: 800px) {
  footer {
    display: block !important;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  footer .section-title {
    margin-top: 53px;
  }
}

/* Dropdown Privacy Policy */

hr {
  width: 100%;
  background-color: black;
}

.dropdown-header {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dropdown-title {
  font-weight: bold;
  text-align: left;
  font-size: 30px;
}

.dropdown-icons {
  flex: 1;
  text-align: right;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: bold;
  font-size: 35px;
  color: gray;
  display: flex;
  justify-content: right;
  align-items: center;
}

.dropdown-sign {
  width: fit-content;
  height: fit-content;
  transition: all 0.3s linear;
}

.dropdown-header:hover * {
  color: rgb(34, 116, 209) !important;
}

.dropdown-content {
  text-align: left;
  width: 100%;
  font-size: 16px;
  overflow: hidden;
}

/* Privacy Page */

.privacy-page .main-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.privacy-page .container {
  padding-top: 25px;
  padding-bottom: 35px;
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 900px;
}

.privacy-page .title {
  font-weight: bold;
  font-size: 35px;
  max-width: 700px;
}

.privacy-page .date {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 35px;
  font-size: 16px;
  max-width: 700px;
}

.privacy-page .content {
  font-size: 18px;
  max-width: 700px;
}

/* Notification */

.notification-box {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  margin-top: 80px;
  background-color: #ffffffd2;
  color: black;
  border: 1px solid black;
  padding: 10px;
  width: 80%;
  max-width: 350px;
}

.notification-box header {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.notification-box img {
  margin-right: 10px;
  border-radius: 100%;
}

.notification-box .content {
  display: flex;
}

.notification-box .refresh {
  color: rgb(15, 110, 177);
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
}
