.banner {
  background-color: #a7aab3;
  background-image: url("./../../public/banner.webp");
  width: calc(100% - 40px);
  min-height: calc(100vh - 90px);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  display: flex;
  position: relative;
}

.banner .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 53px;
  margin-left: 20px;
}

.banner .heading {
  color: white;
  font-weight: bold;
  font-size: 46px;
}

.banner .description {
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.banner .button {
  background-color: black;
  color: white;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 60px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
  border: none;
}

.banner .button:hover {
  background-color: rgb(40, 39, 39);
}
