.home-page .banner {
  background-image: url("../../public/banner.webp");
  width: 100%;
  min-height: calc(100vh - 60px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.home-page .content-container {
  margin: 30px;
  width: 100%;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.444);
  border-radius: 60px;
  border: none;
  text-align: center;
  padding: 28px;
}
.home-page .content-container .title {
  font-weight: 800;
  margin: 20px;
  font-size: 53px;
  color: white;
}
.home-page .content-container .content {
  font-weight: bold;
  font-size: 18px;
  color: white;
}
.home-page .content-container .button {
  margin: 20px;
  color: black;
  background-color: white;
  border-radius: 60px;
  padding: 10px;
  font-weight: bold;
}

.home-page .content-container .button:hover {
  margin: 20px;
  color: black;
  background-color: rgb(198, 198, 198);
  border-radius: 60px;
  padding: 10px;
  font-weight: bold;
}

.home-page .block {
  background-color: rgb(226, 226, 226);
  min-height: calc(100vh - 60px);
  width: 100%;
}

.home-page .background {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 20px;
}

.home-page .background img {
  margin-top: 50px;
}

.home-page .background .title {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.home-page .background .message {
  margin-bottom: 10px;
}

.home-page .background .type {
  margin-bottom: 50px;
}

.home-page .background.nomargin .type {
  margin-bottom: 10px;
}

.home-page .background .docs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-page .background .docs img {
  margin: 10px;
}

.home-page .background button {
  background-color: aqua;
  color: black;
  border: none;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 50px;
}

.home-page .background input {
  border-radius: 20px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  border-radius: 20px;
  border: solid black;
  width: 200px;
  margin-top: 10px;
}

.home-page .background .image-error {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid black;
  border-radius: 20px;
  margin: 0px;
  padding: 0px;
}

.home-page .background .loading {
  width: 200px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
