@media screen and (max-width: 890px) {
  .nav-title {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {
  .nav-sub-links.small {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  footer {
    display: block !important;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  footer .section-title {
    margin-top: 53px;
  }
}

@media screen and (max-width: 550px) {
  .banner {
    align-items: center;
    justify-content: center;
  }
  .banner .content {
    margin: 0px;
    bottom: calc(25%);
  }
}
