hr {
  width: 100%;
  background-color: black;
}

.dropdown-header {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dropdown-title {
  font-weight: bold;
  text-align: left;
  font-size: 30px;
}

.dropdown-icons {
  flex: 1;
  text-align: right;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: bold;
  font-size: 35px;
  color: gray;
}

.dropdown-header:hover * {
  color: rgb(34, 116, 209) !important;
}

.dropdown-content {
  text-align: left;
  width: 100%;
  font-size: 16px;
}
